---

- name: start docker
  service:
    name: docker
    state: started
    enabled: yes
  become: true
  become_user: root
  become_method: sudo

- name: start openshift
  command: "oc cluster up --public-hostname={{ azure.virtualMachineMaster }}.westeurope.cloudapp.azure.com --routing-suffix={{ master0PublicIP }}.nip.io --write-config=true"
  become: true
  become_user: root
  become_method: sudo

...
